*.sw*
*~
bin/
build/
temp/
vendor/
e2e_coverage/
node_modules/
.idea/
wfm_web.iml
reports/
node/
*.log
/target/
.settings/
.project
.classpath
velocity.log
.idea/
*.iml
/.project
.DS_Store